* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    direction: rtl;
}

.header {
    height: 70px;
    background-color: #f7786b;
}

.wrapper {
    width: 80%;
    height: 500px;
    margin: 0 auto;
    padding: 40px 0;
}

.left-column {
    display: inline-block;
    width: 296px;
    height: 500px;
    background-color: #034f84;
    vertical-align: top;
}

.main-column {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 300px);
}

.table-wrapper {
    width: 100%;
    height: 500px;
    margin: 0 auto;
    //padding-right: 240px;
    background-color: #92a8d1;
    overflow: hidden;
    position: relative;
}

.table-head{
    overflow: hidden;
    margin-left: 6px;
    margin-right: 240px;
}

.head-row {
    display: block;
    border-collapse: collapse;
    white-space: nowrap;
    div {
        display: inline-block;
        vertical-align: middle;
        padding: 10px;
        line-height: 20px;
        width: 240px;
        background-color: pink;
        border: 1px solid black;
    }
}

.table-body {
  display: inline-block;
  width: calc(100% - 240px);
  height: 458px;
  list-style: none;
  overflow: auto;
  vertical-align: top;
}

.row {
    display: block;
    border-collapse: collapse;
    white-space: nowrap;
    &>div {
        display: inline-block;
        vertical-align: middle;
        padding: 10px;
        line-height: 20px;
        width: 240px;
        background-color: #fff;
        border: 1px solid black;
    }
}

.right-column {
  display: inline-block;
  vertical-align: top;
  width: 240px;
  height: 452px;
  overflow: hidden;
}

.right-column-div {
  background-color: pink !important;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar:horizontal {
  height: 6px;
}

::-webkit-scrollbar-track {
  background-color: #f3f3f3;
}

::-webkit-scrollbar-thumb {
  height: 70px;
  background-color: pink;
}

//.parent {
//  width: 200px;
//  height: 200px;
//  border: 1px solid black;
//  overflow: auto;
//}
//
//.child {
//  width: 300px;
//  height: 300px;
//  background-color: #f7786b;
//}